@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  white-space: pre-line;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.swiper-button-prev {
  width: 12.63px !important;
  height: 21.63px !important;
  color: transparent !important;
  background-image: url('../public/arrowPrevInactive.png');

  margin-left: 30rem;
  transform: translate(0px, 7.5rem);
}

.swiper-button-next {
  width: 12.63px !important;
  height: 21.63px !important;
  color: transparent !important;
  background-image: url('../public/arrowNextActive.png');

  margin-right: 30rem;
  transform: translate(0px, 7.5rem);
}

.swiper-pagination-bullet {
  background-color: #BAE6FD !important;
}

.swiper-pagination-bullet-active {
  background-color: #38BDF8 !important;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}