@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  white-space: pre-line;
  /* min-width: 1500px; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.swiper {
  min-height: 23rem;
}

.swiper-button-prev {
  width: 45px !important;
  height: 45px !important;
  color: transparent !important;
  background-image: url('../public/arrowPrevActive.png');

  /* transform: translate(20rem, 10rem); */
}

.swiper-button-next {
  width: 45px !important;
  height: 45px !important;
  color: transparent !important;
  background-image: url('../public/arrowNextActive.png');

  /* transform: translate(-20rem, 10rem); */
}

.swiper-pagination-horizontal {
  margin-top: 10px;
}

.swiper-pagination-bullet {
  background-color: white !important;
  width: 2rem !important;
  height: 0.75rem !important;
  border-radius: 30px !important;
  opacity: 0.9 !important;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08) !important;
  /* transform: translate(0, 20px) !important; */
}

.swiper-pagination-bullet-active {
  background-color: rgba(75, 153, 235, 1) !important;
}